{% extends './base.html' %}
{% block titulo %}
Editar un artículo
{% endblock %}

{% block contenido %}
<br>
<div class="p-3"><a href="{{url_for('articulos')}}" type="button" class="btn btn-info"> <i class="fa-solid fa-arrow-left"></i> Regresar</a></div>
<br><br>
<section class="p-3">
    <h2>Editar Artículo</h2>
    <form action="{{url_for('actualizar_articulo')}}" method="post">
        <div class="mb-3">
            <label for="" class="form-label">Id: </label>
            <input type="text" name="id" id="id" value="{{articulo[0]}}" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-control" value="{{articulo[1]}}"  required/>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Precio:</label>
            <input type="text" name="precio" id="precio" class="form-control" value="{{articulo[2]}}"  required/>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Categoría:</label>
            <select name="categoria" id="categoria" class="form-control" required>
                <option value="{{articulo[3]}}">{{articulo[4]}}</option>
                {% for categoria in categorias %}
                    <option  value="{{categoria[0]}}">{{categoria[1]}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Actualizar</button>
    </form>
</section>
{% endblock %}


