{% extends './base.html' %}
{% block titulo %}
Editar un Categoria
{% endblock %}

{% block contenido %}
<br>
<div class="p-3"><a href="{{url_for('categoria')}}" type="button" class="btn btn-info"> <i class="fa-solid fa-arrow-left"></i> Regresar</a></div>
<br><br>
<section class="p-3">
    <h2>Editar Categoria</h2>
    <form action="{{url_for('actualizar_categoria')}}" method="post">
        <div class="mb-3">
            <label for="" class="form-label">Id: </label>
            <input type="text" name="id" id="id" value="{{articulo[0]}}" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nombre de Categoria:</label>
            <input type="text" name="nombre" id="nombre" class="form-control" value="{{articulo[1]}}"  required/>
        </div>

        <button class="btn btn-primary" type="submit">Actualizar</button>
    </form>
</section>
{% endblock %}


