{% extends './base.html' %}
{% block titulo %}
<br>
{% endblock %}

{% block contenido %}
<section class="p-3">
    <h1 class="text-danger">Bienvenido, {{ usuario }}</h1>
    <div class="p-3">
        <a href="{{url_for('articulos')}}" type="button" class="btn btn-warning"> <i class="fa-brands fa-product-hunt"></i> Ir a Articulos</a>
        <a href="{{url_for('categoria')}}" type="button"  class="btn btn-primary"> <i class="fa-solid fa-list"></i> Ir a Categoría</a>
    </div>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>
</section>
{% endblock %}